<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">About</h1>
        <div style="width: 50%; margin: 25px auto;text-align: justify;text-justify: inter-word;border:3px solid black;border-radius: 8px;padding:18px 15px">
            <p>
                Yelpcamp is a Campground rating app, where users can create their own campgrounds, view and comment on others' campgrounds.
                This is a course project of Colt Steele's wonderful Web Developer Bootcamp course in Udemy.
            </p>
            <p>
                It uses the following technologies : NodeJS, ExpressJS, PassportJS, HTML5, CSS3, jQuery and MongoDB. Developed by Viswanath Shivanand Kaddi
            </p>
            </br>
            </br>
            <a href="/campgrounds" style="margin-left:254px;">Home</a>
             
        </div>
    </div>
</div>


<% include ./partials/footer %>